@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@700&family=Poppins:ital,wght@1,200&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  position: relative;
  overflow-x:hidden;
}

@keyframes move {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(10px);
  }
}

.fondo {
  position: relative;
  z-index: -1;
}
.fondo img {
  position: absolute;
  width: 100%;
  height: 280px;
}

.navegation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 16px;
  padding-right: 10px;
  margin-bottom: 80px;
  max-width: 1144px;
}

.menu {
  display: none;
}

.hamburger {
  width: 40px;
  height: 26px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 20px;
}

.hamburger .bar {
  width: 50%;
  height: 4px;
  background-color: #32e2f1;
  margin: 1px;
}
.hamburger .bar-2 {
  width: 60%;
  height: 4px;
  background-color: blue;
  margin: 1px;
}
.hamburger .bar-3 {
  width: 50%;
  height: 4px;
  background-color: #32e2f1;
  margin: 1px;
}

.Sign {
  display: none;
}
.body {
  margin-left: 20px;

}

main {
  width: 100%;
}

.two-columns {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
.two-columns p {
  max-width: 480px;
}

.textos {
  width: 100%;
  height: auto;
}
.title {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin: 0;
  letter-spacing: -1px;
  line-height: 60px;
}

p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  margin: 16px 0;
  
}

.buttons {
  display: flex;
  margin: 16px 0;
  align-items: center;
}

.start-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 1.25px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  background-color: darkorange;
  color: white;
  padding: 8px 16px;
  margin: 16px 0;
  margin-right: 22px;
}



 .start-button:hover .flecha {
    animation: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.contact {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 1.25px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: #7000ff;
  /* padding: 12px 12px 12px 0; */
}
.contact:hover {
  background-color:rgba(0, 139, 139, 0.049);
}
.contact:hover .flecha {
    animation: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.flecha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  display: none;
}

.partners {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1144px;
  padding: 0px;
}

.partners-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 60px 0 64px 0;
  column-gap: 16px;
  row-gap: 32px;
  justify-items: start;
}

.partners-grid img {
  width: 100%;
  height: auto;
}

.unified-platform {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:#f7f9fc;;
  padding: 64px 0;
}

.unified-text {
  color: purple;
  font-family: "Anek Telugu", sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
}

h2 {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 600;
  font-size: 34px;
  margin: 0;
  width: 100%;
}
.unified-platform  h2 {
  margin-bottom: 16px;
}

.unified-platform p {
  margin: 30px 0;
}

.text-left p {
  font-size: 18px;
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: #6962f7;
  font-weight: 500;
}

a:hover {
  color: #332f82;
}

.graphics-section {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.grid-section {
  display: grid;
  grid-template-areas:
  "card slack slack"
  "phone slack slack"
  "phone dash dash"
  ;
  grid-gap: 32px;
  padding: 32px 0;
  
}

#credit-card {
grid-area: card;
width: 100%;
box-shadow: 0px 2px 40px 
rgba(0, 0, 0, 0.361);
border-radius:20px ;
}
img{
  overflow-clip-margin: content-box;
  overflow: clip;
}
#slack-invoice {
  grid-area: slack;
  width: 100%;
  box-shadow: 0px 2px 40px
  rgba(0, 0, 0, 0.361);
  border-radius:20px ;
}
#phone {
  grid-area: phone;
  width: 100%;
}

#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: 0px 2px 40px
  rgba(0, 0, 0, 0.361);
  border-radius:20px ;
  z-index: -1;
}
.container-unified {
  width: 100%;
  max-width: 1144px;
}
.container-graphics {
  width: 100%;
  max-width: 1144px;
}

.PseudoElements {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding:calc(64px * 3) 0;
  
}
.PseudoElements::before {
  content: "";
  width: 100%;
  height: 1100px;
  background-color: #0a2540;
  position: absolute;
  top: -32px;
  left: 0;
  z-index: -1;
  transform: skewY(-10deg);
}

.section-container {
  max-width: 1144px;
}

.twocolumn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
}

.twocolumn .column-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-right: 16px;
  box-sizing: border-box;
}

.Designed-text {
  color:#32e2f1;
  font-family:"Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
}

.column-text .start-button {
  margin: 12px 0;
  font-weight:900;
  border-radius: 20px;
  background-color:#00d4ff;
  color: #0a2540;
}

.PseudoElements .container-cards {
display: flex;
flex-direction: column;
margin: 22px 0;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 16px 8px 0;
}


.PseudoElements .container-cards .card {
  width: 100%;
}

.card .icon {
  height: 50px;
  margin-bottom: 8px;
}

.card  .flecha {
  height: 24px;
}

 .card h3 {
  font-family:"Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 100% ;
  
}

.card-text {
  color: #adbdcc;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.PseudoElements .contact {
  color: #00d4ff;
  
  font-size: 15px;

}

.column-graphics {
  display: none;
}
.start-button:hover {
  background-color:darkcyan;
}

.column-text .start-button:hover {
  background-color:white;
}

/* 4ta seccion */

.swipe-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: calc(64px *3) 0;
}

.card-container {
  display: flex;
  margin: 32px 0;
}

.swipe-section .card-text {
  color: black;
}

/* 5ta Seccion */

.global-section {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  padding-top:calc(64px *3);
  overflow: hidden;
}
.global-section::before {
content: "" ;
width: 100%;
height: 1000px;
background-color: #0a2540;
position: absolute;
top: -32px;
left: 0;
transform: skewY(-10deg);
z-index: -1;

}



#globe {
  max-width: 844px;
  opacity: 25%;
  position: absolute;
  top: 10%;
  z-index: -1;
}

.global-section .card-container {
  display: flex;
  margin: calc(64px * 2) 0;
}

.global-section .card-container .card {
  width: 25%;
  box-sizing: border-box;
  padding-right: 8px;
}

.global-section .card-container .card h3 {
border-left:  2px solid  aqua;
padding-left: 8px;
line-height: 28px;
}
.global-section a {
  color: aqua;
}
.two-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}
.two-text .text-left {
  width: 50%;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;
}
.two-text .text-right {
  width: 50%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;
}
/* Sexta seccion */

.virtual_section {
  display: flex;
  justify-content: center;
  padding: calc(64px * 2) 0;
  position: relative;
}

.virtual_section::before {
  content: "";
  background-color:white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}


.virtual_section .text-left {
 
  padding-right:64px ;
}

.swipe_sessions {
  width: 540px;
  height: 446px;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
}

.swipe_sessions .card_top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swipe_sessions .card_top::before {
  content: "";
  background: linear-gradient( 101.33deg, #08209a 0.76%, #6563ff 33.33%, #36c5f0 76.92%, #83e2ff 96.96% );
  width: 100%;
  height: 150%;
  position: absolute;
  top: -40%;
  transform: skewY(-5deg);
  z-index: 1;
}

#sessions_logo {
  z-index: 2;
  width: 338px;
}

.virtual_section .avatars {
  position: absolute;
  bottom: -70px;
  left: 64px;
  z-index: 3;
}

.virtual_section .avatars img {
  width: 80px;
}
.virtual_section .avatars img:nth-of-type(2) {
  position: absolute;
  left: 55px;
}

.virtual_section .card_bottom {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: 64px;
}
.virtual_section .card_bottom .unified-text {
  margin-top:32px;
}

.virtual_section .card_bottom .card-text {
  color: black;
  font-weight: 700;
  width: 50%;
}

.waiting_section {
  display: flex;
  justify-content: center;
  padding: 58px 0;
}

.waiting_section .text-left {
  padding: 0 64px 0 0;
}

.waiting_section .text-right {
  flex-direction: row;
}

.waiting_section .text-right .card {
  width: 50%;
  box-sizing: border-box;
  padding: 0 8px 0 0;
  margin: 0 16px 0 0;
}

.waiting_section .start-button {
  margin-bottom: 34px;
}

.waiting_section h3 {
  font-size: 20px;
}
.waiting_section .card-text {
  color: #0a2540;
}


/* footer */

footer {
  font-family:"Anek Telugu", sans-serif;
  display: flex;
  justify-content: center;
  background-color: rgba(220, 218, 218, 0.187);
  padding: 64px 0;
}

footer .section-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

footer .col {
  width: 25%;
  
}

#footer_logo {
  max-width: 108px;
  margin: 0 0 16px 0;
}

footer .icon_link {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
footer .icon_link img {
  width: 24px;
}

footer .col a {
  color: black;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;

}

footer h3 {
  font-size: 20px;
  font-family: 'Anek Telugu', sans-serif;
  
}
footer .col ul {
  list-style-type: none;
  padding: 0;
}
footer .col ul li {
  margin: 16px 0;
}

@media (min-width: 550px) {
  .title {
    font-size: 30px;
    padding: 0;
  }

  .partners-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 80px 0 64px 0;
    column-gap: 16px;
    row-gap: 32px;
    justify-items: start;
  }

  .phone {
    display: flex;
    height: 550px;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    line-height: 76px;
    font-size: 70px;
  }
  
  .partners-grid {
    margin-top: 50px;
  }

  .navegation {
   
    
    padding: 16px 30px;
  
    margin-bottom: 65px;
  }

  .menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
  }
  .menu a:hover {
    text-decoration: underline;
  }
  .menu a {
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 16px;
    font-weight: bold;
    text-decoration: none;
    
  }

  .Sign {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.279);
    color: white;
    padding: 8px 16px;
    transition: all 0.15s ease;
  }

  .Sign:hover {
    background-color: rgba(255, 255, 255, 0.476);
  }

  .fondo img {
    height: 456px;
  }

  .hamburger {
    display: none;
  }
  .unified-platform  h2 {
   width: 50%;
  }

    h2 {
      font-size: 40px;
    }





    .twocolumn .column-graphics {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding-left: 16px;
      box-sizing: border-box;
    }

    .PseudoElements .container-cards {
      flex-direction: row;
    }

    #codigo-mac {
      max-width: 480px;
      margin-bottom: 16px;
      border-radius: 20px;
      
    }
    #terminal-code {
      max-width: 480px;
      border-radius: 20px;
      
    }

    /* 4ta seccion */

    .swipe-section .card h3 {
      font-size: 22px;
    }
    .swipe-section .card-container .card {
      width: 25%;
      padding-right:8px;
      margin-right: 16px;
      box-sizing: border-box;
    }

    /* 5ta seccion  */

    .global-section .card h3 {
      font-size: 22px;  
    }
    
    .virtual_section .text-left {
      height: 446px;
    }
}

@media screen and (min-width: 1024px) {


  .title {
    font-size: 94px;
    padding-right: 200px;
    line-height: 106px;
  }
  .phone {
    height: 600px;
    margin-left: 60px;

  }
  .body {
    margin: 0 70px;
  }

  .navegation {
    padding-right: 0px;
    padding-left: 80px;  
  }
  .partners-grid img {
    width: 78%;
    place-self: center;
  }
  .fondo img {
    position: absolute;
    width: 100%;
    height: 460px;
  }  

    /* 5ta seccion  */

  .global-section::before {
    top: -120px;
  }

}


@media (min-width:1025px) and (max-width: 1440px) {
  .twocolumn .column-graphics {
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media only screen and (max-width:850px ){
  .PseudoElements .column-graphics {
    width: 40%;
  }
}

@media (min-width: 550px) and (max-width: 1144px){
.hero .left {
    width: 55%;
}
.hero .right {
  width: 25;
}

}

@media only screen and (max-width: 1144px) {
  .container-unified {
    padding: 0 16px;
  }
  .container-graphics {
    padding: 0 16px;
  }

  .section-container {
    padding: 0 16px;
    overflow-x:hidden;
  }

    .virtual_section .section-container {
      padding: 0;
      padding-left: 14px;
      padding-right: 14px;
    }
  .text-right  {
    
    overflow: hidden;
  }
}

@media only  screen and (max-width: 768px) {
  /* 4ta seccion */
 .swipe-section .card-container  {
  flex-wrap: wrap;
 }

 .global-section .card-container {
  flex-wrap: wrap;
  margin: 64px 0;
 }
 .global-section .card-container .card {
  width: 50%;
  margin: 16px 0;
 }

 .waiting_section .two-text {
  align-items: center;
 }

 .waiting_section .text-right {
  flex-wrap: wrap;
}
 .waiting_section .text-right .card {
  width: 100%;
  margin: 16px 0;
 }
}
  

@media only  screen and (max-width: 550px) {
  .unified-platform {
    padding: 16px 0;
  }

  .PseudoElements {
    padding: 32px 0;
  }
  .PseudoElements::before {
    height: 920px;
  }

  /* 4ta seccion */

  .swipe-section {
    padding: 64px 0 16px 0;
  }

  .swipe-section .card-container .card .icon {
    height: 35px;
  }
  /* 5ta seccion */

  .global-section {
    padding: 64px 0 0 0;}

    .global-section .card-container {
      margin: 16px 0;
    }

    .global-section .two-text .text-left {
      width: 100%;
    }

    .global-section .two-text .text-right {
      width: 100%;
      padding: 0;
    }

    #globe {
      opacity: 10%;
    }

    .global-section .card-container {
      margin: 16px 0;
    }

    .global-section .card-container .card {
      width: 100%;
      margin: 8px 0;
    }

    .virtual_section {
      padding: 0;
    }

    .two-text {
      flex-direction: column;
    }

    .two-text .text-left {
      width: 100%;
    }

    .two-text .text-right {
      width: 100%;
      padding: 0;
      margin-top: -35px;
  }

  .virtual_section .swipe_sessions {
    margin: 32px 0;
    width: 100%;
  }

  .virtual_section .swipe_sessions .card_top {
    height: 40%;
  }

  #sessions_logo {
    width: 300px;
  }

  .virtual_section .card_bottom .card-text {
    width: 100%;
  }
  
  .waiting_section {
    padding: 16px 0;
  }
  
  footer .section-container {
    flex-wrap: wrap;
  }
  footer .col {
    width: 50%;
    margin: 16px 0;
  }

  #footer_logo {
    width: 70px;
  }
  footer .icon_link img {
    width: 18px;
  }

  footer .col a {
    font-size: 12px;
  }
}




