@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@600&family=Inconsolata:wght@600&family=Roboto:ital,wght@1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes move {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(10px);
  }
}

.fondo {
  position: relative;
  z-index: -1;
}
.fondo img {
  position: absolute;
  width: 100%;
  height: 280px;
}

.navegation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 16px;
  padding-right: 10px;
  margin-bottom: 80px;
  max-width: 1144px;
}

.menu {
  display: none;
}

.hamburger {
  width: 40px;
  height: 26px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 20px;
}

.hamburger .bar {
  width: 50%;
  height: 4px;
  background-color: #32e2f1;
  margin: 1px;
}
.hamburger .bar-2 {
  width: 60%;
  height: 4px;
  background-color: blue;
  margin: 1px;
}
.hamburger .bar-3 {
  width: 50%;
  height: 4px;
  background-color: #32e2f1;
  margin: 1px;
}

.Sign {
  display: none;
}
.body {
  margin-left: 20px;

}

main {
  width: 100%;
}

.two-columns {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
.two-columns p {
  max-width: 480px;
}

.textos {
  width: 100%;
  height: auto;
}
.title {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin: 0;
  letter-spacing: -1px;
  line-height: 60px;
}

p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  margin:26px 0;
  
}

.buttons {
  display: flex;
  margin: 16px 0;
  align-items: center;
}

.start-button {
  font-family: "Pangolin", cursive;
  font-size: 16px;
  letter-spacing: 1.25px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: darkorange;
  color: white;
  padding: 8px;
  margin: 16px 0;
}

.start-button:hover {
  background-color:darkcyan;
}
.start-button:hover .icon {
    animation: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.contact {
  margin-left: 16px;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 1.25px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: #7000ff;
  padding: 8px;
}
.contact:hover {
  background-color:rgba(0, 139, 139, 0.049);
}
.contact:hover .icon {
    animation: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon > img {
  transition: transform 0.25s ease;
}
.phone {
  display: none;
  /* height: 628px; */
}

.partners {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1144px;
  padding: 0px;
}

.partners-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 60px 0 64px 0;
  column-gap: 16px;
  row-gap: 32px;
  justify-items: start;
}

.partners-grid img {
  width: 100%;
}

.unified-platform {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:white;
  padding: 64px 0;
}

.unified-text {
  color: purple;
  font-family: "Anek Telugu", sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
}

h2 {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 600;
  font-size: 34px;
  margin: 0;
}
.unified-platform  h2 {
  margin-bottom: 16px;
}



.text-left p {
  font-size: 18px;
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: #6962f7;
  font-weight: 500;
}

a:hover {
  color: #332f82;
}

.graphics-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:#f7f9fc;;
}

.grid-section {
  display: grid;
  grid-template-areas:
  "card slack slack"
  "phone slack slack"
  "phone dash dash"
  ;
  grid-gap: 32px;
  padding: 32px 0;
}

#credit-card {
grid-area: card;
width: 100%;
box-shadow: 0px 2px 40px 
rgba(0, 0, 0, 0.361);
border-radius:20px ;
}
img{
  overflow-clip-margin: content-box;
  overflow: clip;
}
#slack-invoice {
  grid-area: slack;
  width: 100%;
  box-shadow: 0px 2px 40px
  rgba(0, 0, 0, 0.361);
  border-radius:20px ;
}
#phone {
  grid-area: phone;
  width: 100%;
}

#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: 0px 2px 40px
  rgba(0, 0, 0, 0.361);
  border-radius:20px ;
}
.container-unified {
  width: 100%;
  max-width: 1144px;
}
.container-graphics {
  width: 100%;
  max-width: 1144px;
}


@media (min-width: 550px) {
  .title {
    font-size: 30px;
    padding: 0;
  }

  .partners-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 80px 0 64px 0;
    column-gap: 16px;
    row-gap: 32px;
    justify-items: start;
  }

  .phone {
    display: flex;
    height: 550px;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    line-height: 76px;
    font-size: 70px;
  }
  
  .partners-grid {
    margin-top: 50px;
  }

  .navegation {
   
    padding: 16px 30px;
    
    margin-bottom: 65px;
  }

  .menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
  }
  .menu a:hover {
    text-decoration: underline;
  }
  .menu a {
     font-family: "Roboto", sans-serif;
    color: white;
    margin: 16px;
    font-weight: bold;
    text-decoration: none;
    
  }

  .Sign {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.279);
    color: white;
    padding: 8px 16px;
    transition: all 0.15s ease;
  }

  .Sign:hover {
    background-color: rgba(255, 255, 255, 0.476);
  }

  .fondo img {
    height: 456px;
  }

  .hamburger {
    display: none;
  }
  .unified-platform  h2 {
   width: 50%;
  }

    h2 {
      font-size: 40px;
    }

  .two-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .two-text .text-left {
    width: 50%;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
  }
  .two-text .text-right {
    width: 50%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {


  .title {
    font-size: 94px;
    padding-right: 200px;
    line-height: 106px;
  }
  .phone {
    height: 600px;
    margin-left: 60px;

  }
  .body {
    margin: 0 70px;
  }

  .navegation {
  
  padding-right: 80px;
  padding-left: 100px;
  }
  .partners-grid img {
    width: 78%;
    place-self: center;
  }
  .fondo img {
    position: absolute;
    width: 100%;
    height: 460px;
  }
}




@media (min-width: 550px) and (max-width: 1144px){
.hero .left {
    width: 55%;
}
.hero .right {
  width: 25;
}

}

@media only screen and (max-width: 1144px) {
  .container-unified {
    padding: 0 16px;
  }
  .container-graphics {
    padding: 0 16px;
  }


}

@media only  screen and (max-width: 550px) {
  .unified-platform {
    padding: 16px 0;
  }
}